.title {
  font-size: 18px;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.toolbarWrapper {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  display: flex;
  padding: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
