.title {
  font-size: 18px;
  margin-right: auto;
  font-weight: 800;
}

.categoryType {
  padding: 2px;
}

.toolbarWrapper {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  display: flex;
  padding: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;

}
